
.nav-ul{
  display: flex;
  padding: 15px 1040px 5px 0px; 
  margin: 0px;
  background: cadetblue;
  flex-direction: row;
  justify-content: space-evenly;
  height: 40px;
}

.nav-ul li{
  list-style-type: none;
}

.nav-ul li a{
  color: white;
  padding: 5px;
  text-decoration: none;
}
.footer{
    position: absolute;
    
    text-align: center;
    width: 100%;
    background: cadetblue;
    height: 60px;
    
  }
.inputBox{
  display: block;
  border: 3px solid cadetblue;
    padding: 8px;
    margin-left: 20vw;
    margin-top: 18px;
    width: 20%;

} 
.inputBox-heading{
  display: block;
 
   
    margin-left: 20vw;
    margin-top: 18px;
    width: 20%;
}
.inputbox-button{
 display: block;
  margin-left: 20vw;
  margin-top: -2px;
  padding: 9px;
  width: 10%;
  
  background: cadetblue;
  border: 3px solid cadetblue;
}

.space{
  position: relative;
  top: 10px;
}

.right-align{
 
  display: flex;
  padding: 15px 15px 0px 0px; 
  background: cadetblue;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  
}

.right-align li{
  list-style-type: none;
  margin-right: 10px;
}

.right-align li a{
  color: white;
  padding: 5px;
  text-decoration: none;
}
.logo{
 float: left;
  border-radius: 50%;
    width: 38px;
    height: 35px;
}
.add-product{
    display: grid;
    justify-items: center;
}
.add-prodInput{
  margin-top: 10px;
  width: 30%;
  padding: 6px;
  border: 3px solid cadetblue;
  border-radius: 5px;

}
.more-space{
  width: 9% !important;
  margin-right: 22%;
}
.span{
  color: red;
    font-size: 18px;
}

.product-list{
  text-align: center;
  margin-top: 5px;
}

.product-list ul li{
  display: inline-block;
  border: 1px solid cadetblue;
  padding: 4px;
  width: 150px;
  border-radius: 4px;
  font-size: 20px;
}
.product-list ul {
  margin: 0;
}

.search{
  width: 20%;
  border: 2px solid cadetblue;
  margin-bottom: 25px;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  font-size: 18px
}
.button-edit{
  height: 40px;
  margin: 5px;
  border-radius: 10px;
  background: red;
  color: white;

}

